.ofertas-box{
    align-self: center;
    height: 100%;
    width: 100%;
    grid-column: 2;
    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 8px;
}

.title-ofertas{
    justify-self: flex-end;
    align-self: center;
    grid-row: 1;
    height: 35Px;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: #74FA92;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sub{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF; 
    padding-right: 5px;
}

@media screen and (min-width:1440px) {
    .sub{
        font-size: 15px;
    }
}

.title-ofertas span {
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    align-self: center;
}

@media screen and (min-width:768px) {
    .servico {
        width: 180px;
        height: 35px;
    }
    .servico h1 {
        font-size: 18px;
    }
}

@media screen and (min-width:1024px) {
    .servico {
        width: 250px;
        height: 45px;
    }
    .servico h1 {
        font-size: 24px;
    }
}

.ofertas1{
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 30% 20%;
    justify-content: center;
    background: rgba(191, 122, 255, 0.27);
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

.ofertas2{
    grid-row: 3;
    display: grid;
    grid-template-rows: auto 30% 20%;
    width: 90%;
    height: 90%;
    background: rgba(191, 122, 255, 0.27);
    border-radius: 20px;
}


.ofertas3{
    grid-row: 4;
    display: grid;
    grid-template-rows: auto 30% 20%;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background: rgba(191, 122, 255, 0.27);
}


.ofertas4{
    grid-row: 5;
    display: grid;
    grid-template-rows: auto 30% 20%;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background: rgba(191, 122, 255, 0.27);
}
.ofertas5{
    width: 90%;
    display: grid;
    grid-template-rows: auto 30% 20%;
    grid-row: 6;
    height: 90%;
    border-radius: 20px;
    background: rgba(191, 122, 255, 0.27);
}

.ofertas6{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: auto 30% 20%;
    grid-row: 7;
    border-radius: 20px;
    background: rgba(191, 122, 255, 0.27);
}

.ofertas1 h1{
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 11px;
    line-height: 96%;
    align-self: start;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas1-desk h1{
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 13px;
    line-height: 96%;
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas1 a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}


.ofertas1-desk a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}


@media screen and (min-width:768px){
    .ofertas1 h1{
        font-size: 13px;
    }
}

@media screen and (min-width:1440px){
    .ofertas1-desk h1{
        font-size: 16px;
    }
    .ofertas1-desk a{
        font-size: 12px;
    }
}

.ofertas1 p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

.ofertas1-desk p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

@media screen and (min-width:1440px){
    .ofertas1-desk p{
        font-size: 25px;
    }
    .ofertas2-desk a{
        font-size: 12px;
    }
}

.ofertas2 h1{
    grid-row: 1;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 11px;
    line-height: 96%;
    align-self: start;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}


.ofertas2-desk h1{
    grid-row: 1;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 13px;
    line-height: 96%;
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}
.ofertas2 a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}

@media screen and (min-width:768px){
    .ofertas2 h1{
        font-size: 13px;
    }
}

@media screen and (min-width:1440px){
    .ofertas2-desk h1{
        font-size: 16px;
    }
}

.ofertas2 p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

.ofertas2-desk p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}
.ofertas2-desk a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}


@media screen and (min-width:1440px){
    .ofertas2-desk p{
        font-size: 25px;
    }
    .ofertas2-desk a{
        font-size: 12px;
    }
}

.ofertas3 h1{
    justify-self: center;
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 11px;
    line-height: 96%;
    align-self: start;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas3-desk h1{
    justify-self: center;
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 13px;
    line-height: 96%;
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas3 a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}

.ofertas3-desk a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}


@media screen and (min-width:768px){
    .ofertas3 h1{
        font-size: 13px;
    }
}

@media screen and (min-width:1440px){
    .ofertas3-desk h1{
        font-size: 16px;
    }
    .ofertas3-desk a{
        font-size: 12px;
    }
}

@media screen and (min-width:1920px){
    .ofertas3-desk h1{
        font-size: 18px;
    }
}


.ofertas3 p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

.ofertas3-desk p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

@media screen and (min-width:1440px){
    .ofertas3-desk p{
        font-size: 25px;
    }
}

.ofertas4 h1{
    justify-self: center;
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 11px;
    line-height: 96%;
    align-self: start;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas4-desk h1{
    justify-self: center;
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 13px;
    line-height: 96%;
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas4 a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}

.ofertas4-desk a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}


@media screen and (min-width:768px){
    .ofertas4 h1{
        font-size: 13px;
    }
}

@media screen and (min-width:1440px){
    .ofertas4-desk h1{
        font-size: 16px;
    }
    .ofertas4-desk a{
        font-size: 12px;
    }
}

.ofertas4 p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

.ofertas4-desk p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

@media screen and (min-width:1440px){
    .ofertas4-desk p{
        font-size: 25px;
    }
}

.ofertas5 h1{
    justify-self: center;
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 11px;
    line-height: 96%;
    align-self: start;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas5-desk h1{
    justify-self: center;
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 13px;
    line-height: 96%;
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas5 a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}

.ofertas5-desk a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}


@media screen and (min-width:768px){
    .ofertas5 h1{
        font-size: 13px;
    }
}

@media screen and (min-width:1440px){
    .ofertas5-desk h1{
        font-size: 16px;
    }
    .ofertas5-desk a{
        font-size: 12px;
    }
}

.ofertas5 p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}


.ofertas5-desk p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

@media screen and (min-width:1440px){
    .ofertas5-desk p{
        font-size: 25px;
    }
}

.ofertas6 h1{
    justify-self: center;
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 11px;
    line-height: 96%;
    align-self: start;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas6-desk h1{
    justify-self: center;
    grid-row: 1;
    font-family: 'Russo One', sans-serif;
    font-style: normal;  
    font-weight: normal;
    font-size: 13px;
    line-height: 96%;
    align-self:center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0 ;
    color: #74FA92;
}

.ofertas6 a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}

.ofertas6-desk a{
    justify-self: center;
    grid-row: 3;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF; 
}


@media screen and (min-width:768px){
    .ofertas6 h1{
        font-size: 13px;
    }
}

@media screen and (min-width:1440px){
    .ofertas6-desk h1{
        font-size: 16px;
    }
    .ofertas6-desk a{
        font-size: 12px;
    }
}

.ofertas6 p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

.ofertas6-desk p{
    grid-row: 2;
    justify-self: center;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}


@media screen and (min-width:1440px){
    .ofertas6-desk p{
        font-size: 25px;
    }
}
