html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

@media screen and (min-width:1024px) {
    body {
        overflow: hidden
    }
}

header.top {
    width: 100vw;
    height: 5rem;
    background-color: #74FA92;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.535);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
    top: 0;
}

@media screen and (min-width:1024px) {
    header.top {
        width: 100vw;
    }
    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: rgb(38, 2, 56) rgba(255, 166, 0, 0);
    }
     ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
     ::-webkit-scrollbar-thumb {
        background: #74FA92;
    }
     ::-webkit-scrollbar-track {
        background: #3f094f;
    }
    .principal {
        position: relative;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
    .snap {
        scroll-snap-align: start;
    }
}

@media screen and (min-width:1440px) {
    header.top {
        height: 4rem;
    }
}

#menucheck {
    display: none;
}

.img-logo {
    width: 65%;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .img-logo {
        width: 45%;
    }
}

@media screen and (min-width:1024px) {
    .img-logo {
        width: 50%;
    }
}

.btn {
    position: relative;
    align-self: center;
    width: 60px;
    height: 60px;
    padding-right: 20px;
    cursor: pointer;
    transform: scale(0.3);
}

.option-desk {
    display: none;
}


/* @media screen and (min-width:1024px){
    .btn{
      display: none;
    }

    .option-desk{
      display: flex;
      justify-content: center;
      width: 900px;
    }
    .nav-desk{
      display: flex;
      font-size: 15px;
      list-style: none;
     
    }
    .nav-item-desk{
      margin:  0 15px;
    }

    .nav-item-desk a {
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
      color: #30073B;
    }
  }

  @media screen and (min-width:1440px) {
    .option-desk{
      justify-content: flex-end;
      padding: 0 30px;
    }
    .nav-desk{
      font-size: 20px;
    }
    
  } */

.btn-left {
    background-color: #333;
    position: relative;
    height: 8px;
    width: 30px;
    top: 20px;
    left: 0px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-left:before {
    background-color: #333;
    position: absolute;
    width: 30px;
    height: 8px;
    content: "";
    top: -20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-left:after {
    background-color: #333;
    position: absolute;
    width: 30px;
    height: 8px;
    content: "";
    top: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-right {
    background-color: #333;
    position: relative;
    height: 8px;
    width: 30px;
    top: 12px;
    left: 30px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-right:before {
    background-color: #333;
    position: absolute;
    width: 30px;
    height: 8px;
    content: "";
    top: -20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-right:after {
    background-color: #333;
    position: absolute;
    width: 30px;
    height: 8px;
    content: "";
    top: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.active .btn-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.active .btn-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}

.active .btn-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}

.active .btn-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.active .btn-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}

.active .btn-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}

.option {
    right: 0;
    position: fixed;
    width: 0;
    height: 180px;
    background-color: #74FA92;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-left-radius: 20px;
    top: 5rem;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

#menucheck:checked~.option {
    width: 220px;
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width:768px) {
    #menucheck:checked~.option {
        width: 300px;
    }
}
@media screen and (min-width:1024px){
    .option{
        display: none;
    }
    .option-desk {
        right: 0;
        position: fixed;
        width: 0;
        height: 220px;
        background-color: #74FA92;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom-left-radius: 20px;
        top: 5rem;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
    }
    #menucheck:checked~.option-desk {
        width: 250px;
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (min-width:1440px) {
    .option-desk {
        top: 2.5rem;
        height: 250px;
    }
}

.nav-option {
    display: block;
}

.nav-item {
    display: block;
    list-style: none;
    text-align: right;
    padding: 5px 0;
    padding-right: 15px;
    transform: translateX(100%);
    transition: all .5s;
}

.nav-item a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 1px;
    color: #30073B;
}

@media screen and (min-width:768px) {
    .nav-item a {
        font-size: 20px;
    }
}

@media screen and (min-width:1440px) {
    .nav-item {
        padding: 7px 0;
        padding-right: 20px;
    }
}

#menucheck:checked~.option .nav-item {
    transform: translateX(0);
}

#menucheck:checked~.option-desk .nav-item {
    transform: translateX(0);
}


.whatsapp-button-fixed {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 3;
    transition: all 0.2s;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .whatsapp-button-fixed {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width:768px) {
    .whatsapp-button-fixed {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width:1440px) {
    .whatsapp-button-fixed {
        width: 70px;
        height: 70px;
    }
}

.button-whatsapp {
    width: 100%;
    height: 100%;
    border-radius: 40%;
    background-image: url(../images/whtsapp-icon.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
    opacity: 0.6;
    transition: all .2s;
    cursor: pointer;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover,
.active {
    opacity: 1;
}